body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5dc; /* Beige claro */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #8B0000; /* Color vino */
}

p {
    font-size: 1.2rem;
    color: #555;
}
